SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/utp_recommends?useSSL=false&serverTimezone=America/Lima&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=
APP_SECURITY_JWT_SECRET=clave_larga_segura_de_minimo_32_caracteres
APP_SECURITY_JWT_EXPIRATION_MINUTES=30
APP_CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
APP_BOOTSTRAP_ADMIN_ENABLED=false
APP_BOOTSTRAP_ADMIN_EMAIL=admin@utp.edu.pe
APP_BOOTSTRAP_ADMIN_PASSWORD=Admin123!
APP_BOOTSTRAP_ADMIN_NOMBRES=Administrador
APP_BOOTSTRAP_ADMIN_APELLIDOS=Sistema
