SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/utp_recommends?useSSL=false&serverTimezone=America/Lima&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=
APP_SECURITY_JWT_SECRET=clave_larga_segura_de_minimo_32_caracteres
APP_SECURITY_JWT_EXPIRATION_MINUTES=30
