SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/utp_recommends
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root
APP_SECURITY_JWT_SECRET=replace_with_a_256_bit_secret
APP_SECURITY_JWT_EXPIRATION_MINUTES=30
